<h1>Buffer e Multer</h1>

<!-- um arquivo -->
<form method="post" enctype="multipart/form-data">
    <input type="file" name="image" />
    <button type="submit">enviar</button>
</form>

<!-- varios arquivos -->
<!-- <form method="post" enctype="multipart/form-data">
    <input type="file" multiple name="images" />
    <button type="submit">enviar</button>
</form> -->